.results-section {
    padding: 2rem 0;
}
.card-holder {
    display: flex;
    gap: 1rem;
}
.content-holder {
    display: flex; ;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    margin-bottom: 1.5rem;
}

/*  Stack Card Styling  */
.main-container {
    display: grid;
    grid-template-columns: 1fr 1fr; 
    gap: 20px;

    .highlight-section {
      display: grid;
      grid-template-columns: 2fr 1fr; 
      gap: 1rem;
      max-width: 600px;
      margin: auto;

      .highlight-right {
        display: flex;

        .highlight-card {
          display: flex;
          flex-direction: column;
        }
      }

      .highlight-left {
        .highlight-card:first-child {
          margin-bottom: 1rem;
        }
      }

      .highlight-card {
        background: linear-gradient(to bottom right, #38b6ff, #ffcc00);
        border-radius: 10px;
        padding: 1rem;
        color: white;
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
        position: relative;
        display: flex;
        align-items: center;

        &.small {

          .card-content {
            font-size: 9px;

            h3, .h3 {
              font-size: 21px;
            }
          }

          img {
            max-width: 5.25rem;
            width: 100%;
            height: auto;
            border-radius: 8px;
        }
      }
    }
  }
}

.new-badge {
    position: absolute;
    top: 10px;
    right: 10px;
    background: white;
    color: #007bff;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 12px;
    font-weight: bold;
}

.cta-button {
    background: white;
    color: black;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    display: block;
    width: 100%;
    text-align: center;
    margin-top: 10px;
}

.large {
    grid-column: 2; /* Places this in the second column */
    grid-row: span 2; /* Makes it span two rows */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.games-section {
    display: flex;
    flex-direction: column;
    gap: 15px;

    .game-card {
      color: white;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: .5rem 1rem;
      border-bottom: 1px solid #fdfdfd;
    }
  }

  .casino-container {
    background: linear-gradient(to right, #0F344B, #121627);
    position: relative;
  }

  .casino-container:before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    width: 100%;
    height: 100%;
  }

 .full-card {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
 }

 .full-card .content-holder {
    position: absolute;
    z-index: 2;
    padding: 2rem 3rem;
 }

 .full-card .bg-image {
  border-radius: 1rem;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
}

.full-card .lead {
  font-size: 1.4325rem;
  text-transform: uppercase;
  font-family: "Bebas Neue", serif;
  padding: .5rem 0rem 1.5rem;
}

.simple-swiper-container {
  overflow: auto !important;
  padding: 8rem 0;
}


