.results-section {
    padding: 2rem 0;

    h3 {
      padding-top: 1rem;
      padding-bottom: 3rem;
    }
}
.card-holder {
    display: flex;
    gap: 1rem;
}
.content-holder {
    display: flex; ;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    margin-bottom: 1.5rem;
}

/*  Stack Card Styling  */
.main-container {
    display: grid;
    grid-template-columns: 1fr 1fr; 
    gap: 20px;

    @media only screen and (max-width: 767px) {
      display: block;
    }

    .highlight-section {
      display: grid;
      grid-template-columns: 2fr 1fr; 
      gap: 1rem;
      width: 100%;
      margin: auto;
      @media only screen and (max-width: 767px) {
        grid-template-columns: 1fr; 
      }

      .highlight-right {
        display: flex;

        @media only screen and (max-width: 767px) {
          display: none;
        }

        .highlight-card {
          display: flex;
          flex-direction: column;
        }
      }

      .highlight-left {
        .highlight-card:first-child {
          margin-bottom: 1rem;
        }
      }

      .highlight-card {
        background: linear-gradient(to bottom right, #38b6ff, #ffcc00);
        border-radius: 10px;
        padding: 0 1rem;
        color: white;
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
        position: relative;
        display: flex;
        align-items: center;
        gap: 1rem;
        width: 100%;

        &.small {

          .card-content {
            font-size: 9px;

            h3, .h3 {
              font-size: 21px;
            }
          }

          img {
            max-width: 5.25rem;
            width: 100%;
            height: auto;
            border-radius: 8px;
        }
      }
    }
  }
}

.new-badge {
    position: absolute;
    top: 10px;
    right: 10px;
    background: white;
    color: #007bff;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 12px;
    font-weight: bold;
}

.cta-button {
    background: white;
    color: black;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    display: block;
    width: 100%;
    text-align: center;
    margin-top: 10px;
}

.large {
    grid-column: 2; /* Places this in the second column */
    grid-row: span 2; /* Makes it span two rows */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.casino-container {
  padding: 6rem 0;

  @media only screen and (max-width: 767px) {
    padding-top: 2rem;
  }

  h3{
    padding: 2rem 0;
  }
  
.games-section {
    display: flex;
    flex-direction: column;
    gap: .55rem;
    background: linear-gradient(45deg, #079fcf, #3cd9cd);
    padding: 1rem 0;
    border-radius: 8px;

    @media only screen and (max-width: 767px) {
      margin-top: 2rem;
    }

    .game-card {
      color: white;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0 1rem;
      border-bottom: none;

      &:last-child {
        a {
          border-bottom: 0;
          padding-bottom: 0;
        }
      }
      a {
        display: flex;
        align-items: center;
        width: 100%;
        border-bottom: 1px solid #fdfdfd;
        padding-bottom: .5rem;
        gap: .5rem;

        .content-holder {
          display: flex;
          flex-direction: column;
          align-items: start;
          margin-bottom: 0;

          h4 {
            font-size: 13px;
            color: #fff;
          }
          span {
            font-size: 9px;
            color: #000;
          }
        }
      }
    }
  }
}
 
.simple-swiper-container {
  overflow: auto !important;
  padding: 2rem 0 8rem;

  h3 {
    padding: 2rem 0;
  }
  @media only screen and (max-width: 767px) {
    padding: 2rem 0 4rem;
  }

  .swiper-slide {
    width: auto !important
  }
}

/* Full Bg Card Styling known as CTA */
.full-card {
    width: 100%;
    min-height: 18rem;
    height: auto;
    position: relative;
    margin: 5rem 0;
    padding: 1rem 0;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    background-position: 70% 0 !important;
    border-radius: 12px;

  img {
    width: 100%;
    height: auto;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    object-fit: cover;
    object-position: right;
  }
  .card-content {
    padding: 3rem;
    max-width: 27rem;
    position: relative;

    p {
      margin: 1rem 0 2.5rem;
      text-transform: uppercase;

      @media only screen and (max-width: 767px) {
        margin: 1rem 0 9rem;
      }
    }
  }
}


/* two_column_card Styling  */
.two_column_card {
  .col-md-6 {
    &:first-child {
      .card {
        background: #fff;

        @media only screen and (max-width: 767px) {
          margin-bottom: 2rem;
        }
        .new-badge {
          background: linear-gradient(45deg, #079fcf, #3cd9cd);
          color: #fff;
        }
        .card-content, p {
          color: #000;
        }
      }
    }
  }
  

  .card {
    aspect-ratio: 1.9 / 1;
    position: relative;
    object-position: center;
    object-fit: cover;
    width: 100%;
    border-radius: 12px;
    background: linear-gradient(180deg, #0054B7, #08A3D1);

    .new-badge {
      display: flex;
      top: 0;
      color: #121627;
      text-transform: uppercase;
      font-size: 11px;
      right: 0;
      border-top-right-radius: 12px;
      border-bottom-left-radius: 40px;
      border-bottom-right-radius: 0;
      border-top-left-radius: 0;
      padding: .5rem 1.5rem;

     .icon {
        display: inline-block;
        position: relative;
        margin-right: .5rem;
      }
    }

    .card-content {
      padding: 3rem;
      max-width: 26rem;

      p {
        margin: 1rem 0 2.5rem;
        text-transform: uppercase;
      }
    }

    img {
      display: none;
      @media only screen and (min-width: 768px) {
        display: block;
        max-width: 15rem;
        position: absolute;
        right: 0;
        bottom: 0;
      }
    }
  }
}
