@using Umbraco.Cms.Core.Models
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<IPublishedContent>
@using Umbraco.Cms.Core.Models.Blocks 
@{
	var ctaCards = Model.Value<BlockListModel>("content");
}

@{
	if (ctaCards != null && ctaCards.Any())
	{ 
        @foreach(var ctaCard in ctaCards) {
            var cta = ctaCard.Content;
            var title = cta.Value("title");
            var copy = cta.Value("copy");
            var bgImage = cta.Value<IPublishedContent>("backgroundImage");

            if (bgImage != null) {
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <div class="full-card" style="background: url('@bgImage.Url()')">
                                <div class="card-content">
                                    <h3>@title</h3>
                                    @Html.Raw(copy)
                                    <a href="#" class="btn btn-lg btn-primary">More</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        }
    }
}

