@using Umbraco.Cms.Core.Models
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<IPublishedContent>
@using Umbraco.Cms.Core.Models.Blocks
@{
	var cardSlides = Model.Value<BlockListModel>("content");
}

@{
	if (cardSlides != null && cardSlides.Any())
	{
		<div> 
			<div>
				<div class="container">
					<h4 class="title">NEW</h4>
					<div class="simple-swiper-container">
						<div class="swiper-wrapper">
							@foreach (var cardSlide in cardSlides) {
								var slides = cardSlide.Content;
								var slide = slides.Value<BlockListModel>("cardSliderPicker");

								if (slide != null && slide.Count > 0) {
									foreach(var slideItem in slide) {
										var content = slideItem.Content;
										var title = content.Value("title");
										var copy = content.Value("copy");
										var img = content.Value<IPublishedContent>("image");
										var tag = content.Value<IPublishedContent>("tag");
										var label = content.Value("label");
										var tagIcon = tag.Value<IPublishedContent>("icon");

										<div class="card swiper-slide">
											@if (img != null) {
												<img src="@img.Url()" class="card-img" alt="@title">
											}
											<div class="new-badge-text">@copy</div>
											<div class="new-badge-icon"><img src="@tagIcon.Url()" class="icon" /></div>
										</div>
									}
								}
							}
						</div>
					</div>
				</div>
			</div>
		</div>
	}
}
