@using Umbraco.Cms.Core.Models
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<IPublishedContent>
@using Umbraco.Cms.Core.Models.Blocks
@{
   var richtexts = Model.Value<BlockListModel>("content");
}
@if (richtexts != null && richtexts.Any()) {
	<div class="content-section">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="content">
						@foreach (var richtext in richtexts) {
							var content = richtext.Content;
							@Html.Raw(content.Value("description"))
						}
					</div>
				</div>
			</div>
		</div>
	</div>

}

@*
<span class="section-divider"></span>
<div class="footer-section">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="content-holder">
					<h3>Dream Spins <br />Casino</h3>
					<div class="social-icons">
						<a href="#"><img src="#" class="icon" /></a>
						<a href="#"><img src="#" class="icon" /></a>
						<a href="#"><img src="#" class="icon" /></a>
					</div>
				</div>
				<div class="footer-links">
					<a href="#">My account</a>
					<a href="#">Promotions</a>
					<a href="#">Support</a>
					<a href="#">About us</a>
					<a href="#">Affiliates</a>
					<a href="#">Banking</a>
					<a href="#">Responsible gaming</a>
					<a href="#">Terms & Conditions</a>
					<a href="#">Privacy Policy</a>
					<a href="#">Contact us</a>
				</div>
				<div class="payments">
					<a href="#"><img src="" class="payment-logo" /></a>
					<a href="#"><img src="" class="payment-logo" /></a>
					<a href="#"><img src="" class="payment-logo" /></a>
					<a href="#"><img src="" class="payment-logo" /></a>
					<a href="#"><img src="" class="payment-logo" /></a>
					<a href="#"><img src="" class="payment-logo" /></a>
					<a href="#"><img src="" class="payment-logo" /></a>
					<a href="#"><img src="" class="payment-logo" /></a>
				</div>
				<div class="terms">
					<span>© 2021 Jackpot Lounge All rights reserved. Jackpot Lounge is a brand managed by White Hat
						Gaming Limited</span>
					<h5>Play <br />Responsibly</h5>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-6">
				<div class="card">
					<div class="card-content">
						<img src="" />
						<p>Jackpot Lounge is a brand managed by White Hat Gaming Limited (Company). The Company is
							registered in accordance with Maltese law with registration no. C73232 whose registered
							office is 85 St John Street, Valletta, VLT1165, Malta.</p>
					</div>
				</div>
			</div>
			<div class="col-md-6">
				<div class="card">
					<div class="card-content">
						<img src="" />
						<p>Jackpot Lounge is a brand managed by White Hat Gaming Limited (Company). The Company is
							registered in accordance with Maltese law with registration no. C73232 whose registered
							office is 85 St John Street, Valletta, VLT1165, Malta.</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="footer-nav">

</div>
*@