@using Umbraco.Cms.Core.Models
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<IPublishedContent>
@using Umbraco.Cms.Core.Models.Blocks
@{
    var footerLinks = Model.Value<IEnumerable<Link>>("footerLinks");
    var addFooter = Model.Value<BlockListModel>("addFooter");
}
@if (footerLinks != null)
{
    <ul>
        @foreach (var linkItem in footerLinks)
        {
            <li>
                <a href="@linkItem.Url" target="@(linkItem.Target ?? "_self")">
                    @linkItem.Name
                </a>
            </li>
        }
    </ul>
}

@await Html.PartialAsync("blocklist/Components/_footerCards.cshtml", Model)
@await Html.PartialAsync("blocklist/Components/_footerLogos.cshtml", Model)