.banner {
    padding-top: 10rem;

    .content {
        position: relative;
        text-align: center;
        margin-top: 3rem;

        @media only screen and (min-width: 768px) {
            text-align: left;
            margin-top: 0;
        }
        
        h1 {
            &:before {
                content: "";
                position: absolute;
                top: -1rem;
                height: .375rem;
                width: 3.75rem;
                display: inline-block;
                background-image: linear-gradient(to right, #08A0D0 , #FFD800);
    
                @media only screen and (max-width: 767px) {
                    left: 0;
                    right: 0;
                    margin: 0 auto;
                }
            }
        }

        + p {
            font-family: "Bebas Neue", serif;
            font-size: 2.1875rem;
            line-height: 2.625rem;
            font-weight: 400;
            text-transform: uppercase;
            padding: 1rem 0 1.75rem;
        }

        .btn {
                margin: 1rem 0;
        }
    }
    .banner-image {
        padding-top: 5rem;
    }
    .btn-holder {
        gap: 2rem;
        padding-bottom: 2rem;
    }
    .link {
        @media only screen and (max-width: 767px) {
         text-align: center;
        }
    }
}

.mx-auto {
    margin-left: auto;
    margin-right: auto;
}

.results-section {
    width: 100%;
    overflow: hidden;
    position: relative;

  .swiper-slide {
    width: auto !important; 
    flex-shrink: 0;
    }
}

main {
    background: linear-gradient(200deg, #550093 -30%, #0058B8 40%, #08A3D1 700%);
}

.section_divider {
    display: block;
    background-image: linear-gradient(to right, #0054B7, #08A0D0, #FFD800);
    height: 0.393125rem;
}

.content-section {
    padding-bottom: 5rem;
}

.two_column_card {
    margin-bottom: 4rem;
}