html, body {
    font-size: 16px;
}
body, p, span, div, ul, li {
    font-family: "Inter", serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    color: var(--body_color);
}

h1, .h1 {
    font-family: "Inter", serif;
    font-size: 3.625rem;
    line-height: 3.625rem;
    margin-bottom: 2.5rem;
    @media only screen and (max-width: 767px) {
        font-size: 3rem;
    }
}

h2, .h2 {
    font-family: "Inter", serif;
    font-size: 3.625rem;
    line-height: 3.625rem;
    margin-bottom: 2.5rem;

    @media only screen and (max-width: 767px) {
        font-size: 3rem;
    }
}

h3, .h3 {
    font-family: "Inter", serif;
    font-size: 2.25rem;
    font-weight: 700;
    line-height: 2.25rem;
}

h4.title {
    font-family: "Inter", serif;
    margin-bottom: 1.5rem;
}